ul.rack-selector-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width:100%;
}

ul.rack-selector-container li{

}

ul.rack-selector-container li, ul.rack-selector-container li label{
    display: inline-block;
    font-size: large;
}

ul.rack-selector-container li select {
    font-size: large;
}
